{% extends 'base.html.twig' %}


{%  block body %}
<h1>Bienvenue</h1>

<p class="text">La culture générale (souvent prononcé culture G) désigne les connaissances en tout genre d'un individu, sans spécialisation. S'opposant à la connaissance disciplinaire (en), elle fait partie du projet humaniste, trouvant ses origines dans la paideia grecque. Traduite par Cicéron sous le terme d'« humanitas », elle se mêle, lors de la Renaissance, aux arts libéraux. Le projet d’une culture générale est intrinsèquement lié à des réflexions à propos de l'humanité, qu'elle soit conçue comme nature humaine ou encore comme dépassement de la nature par la culture (ou « seconde nature »). Durant la Renaissance, elle forme l'idéal de l'« honnête homme ». 
L’idéal de culture s’est transmis jusqu’à aujourd’hui, s’incarnant dans des modèles scolaires distincts8. Cet idéal été discuté et abondé par différents penseurs au cours des siècles.

René Descartes fait de la culture générale un pivot de sa pensée. Selon la première règle pour la direction de l'esprit, « Le but des études doit être de diriger l’esprit de manière à ce qu’il porte des jugements solides et vrais sur tout ce qui se présente à lui ». La culture générale ne se définit donc pas par son objet, mais par sa visée : celle d'un support pour bien juger des choses.

Emmanuel Kant poursuit dans son sens. Il oppose la nature (règne des causes déterminées par des lois empiriques) à la culture, cette dernière étant le règne de la liberté. La culture est par conséquent la marque de l’aptitude des hommes à se donner librement des fins qui lui plaisent, en général. La culture générale ne peut donc pas être réduite à contenu déterminé, puisqu'elle vise précisément à donner à l'homme la possibilité de choisir les fins qui déterminent son existence.

Si les humanistes se sont concentrés sur la vertu de l'homme humaniste, le philosophe allemand George Friedrich Hegel critique le projet d'une culture qui ne viserait que l’épanouissement de l'individu subjectif. Le projet de la culture générale doit tenir compte de la valeur objective de la culture, c'est-à-dire de la valeur collective qui dépasse la simple satisfaction subjective. En d’autres termes, la culture en tant que processus individuel de formation ne doit pas viser aux simples fins subjectives de l’individu, mais à celles de la collectivité. </p>
{% endblock %}